fastapi==0.141.1
fastapi-mqtt==2.2.0
fastapi-users[beanie]==15.0.5
beanie==2.2.0
websockets==16.0
wsproto==1.3.2
pydantic==2.13.5
uvicorn==0.52.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pynetbox==7.4.1
